* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.navbar-brand img {
  height: 30px;
}

.navbar {
  background: #95B2B0
}

main {
  height: 100%;
}

.lead {
  font-size: 1rem;
}

.card {
  border: none;
  min-width: 300px;
}

.neo-shadow {
  box-shadow: 9px 9px 16px rgb(52, 58, 64, 0.2), -9px -9px 16px rgba(250, 250, 250, 0.5);
}

.br-8 {
  border-radius: 8px;
}

.neo-shadow-2 {
  box-shadow: 
           rgb(0, 0, 0, 0.2) 12px 12px 30px,
           rgb(255, 255, 255, 0.04) -12px -12px 30px;
}

.bg-grad-gray {
    background: linear-gradient(to right bottom,rgb(60, 66, 72),rgb(52, 58, 64))
}

.answer-bt:focus {
  box-shadow: none;
}