* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
}

.home {
  background: radial-gradient(circle, rgb(240, 240, 240), white);
}

.stress-ball {
  width: 90px;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-15 {
  height: 15%;
}
.h-0 {
  height: 0;
}

.navbar-brand img {
  height: 30px;
}

.navbar {
  background: #95B2B0
}

.nav-space {
  height: 70px;
  width: 100%;
}

.footer-space {
  height: 100px;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .footer-space {
    height: 200px
  }
}

main {
  height: 100%;
}

.lead {
  font-size: 1rem;
}

.card {
  border: none;
  min-width: 300px;
}

.card-btn {
  width: 220px;
}

#nah::before {
  content: "Nah, too boring"
}

#nah:hover::before {
  content: "Show me something cool!";
}

.neo-shadow {
  box-shadow: 
    12px 12px 30px rgb(52, 58, 64, 0.2), 
    -12px -12px 30px rgba(255, 255, 255, 0);
}

.br-8 {
  border-radius: 8px;
}

.neo-shadow-2 {
  box-shadow: 
           rgb(0, 0, 0, 0.2) 12px 12px 30px,
           rgb(255, 255, 255, 0.04) -12px -12px 30px;
}

.bg-grad-gray {
    background: linear-gradient(to right bottom,rgb(60, 66, 72),rgb(52, 58, 64))
}

.answer-bt:focus {
  box-shadow: none;
}

.my-30 {
  margin: 30px 0;
}

.result-awesome {
  color: #5cb85c !important
}

.result-improve {
  color: #ffbb33 !important
}

.result-bad {
  color: #d9534f !important
}

.progress {
  margin-top: 20px;
  border-radius: 15px;
}

.bg-green {
  background: #5cb85c
}

.bg-yellow {
  background: #ffbb33
}

.bg-red {
  background: #d9534f
}

.icon {
  width: 20px;
}